{% extends "layout.html" %}

{% block content %}
<div class="content-section" style="padding: 140px 300px 140px 300px;">
    <form method="post">
        {{form.hidden_tag()}}
        <div class="logo">
            <img src="{{ url_for('static', filename='img/review.svg') }}" width="128" height="128" />
        </div>
        <div class="form-group">
            {{ form.restaurant(class="form-control", placeholder="Place ID") }}
        </div>
        <div class="form-group">
            {{ form.rating(id="inputRating", class="form-control", placeholder="Rating") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
        </div>
    </form>
</div>
{% endblock %}